<h2>All Players</h2>
<%= paginate @players %>
<ul class="list-group">
  <% @players.each do |player| %>
    <li class="list-group-item"><%= link_to player.name, player %> is a member of <%= link_to player.team.name, player.team %></li>
  <% end %>
</ul>
<%= paginate @players %>